{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>Internationalization Demo</title>
    </head>
    <body>
        <h2>{% trans "Hi, all" %}</h2>
        <p>This is a sample page for demonstration of internationalization</p>

        {% get_current_language as LANGUAGE_CODE %}
        <p>{% trans "Current language" %}: {{ LANGUAGE_CODE }}</p>

        <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
        </form>
    </body>
</html>
